* {
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(207, 199, 199);
  box-shadow: 2px 4px 11px rgb(207, 199, 199);
  padding: 10px 30px;
}

.brand {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.nav-links {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 425px) {
  body {
    background-color: dodgerblue;
  }
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-links {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 !important;
    margin-top: 20px;
  }
}
